
#dishes_devise{
   float: left;
   width: 100%;
   margin-bottom: 20px;
}

#dishes_devise ul{
   list-style: none;
   padding-left: 0px !important;
}

#dishes_devise ul li{
   margin-right: 10px;
   float: left; 
}

#dishes_form li{
   list-style: none;
}

#dishes_form .label{
   color: #000 !important;
   float: left; 
   width: 8%;
}

.vegetarian{
   margin-left: 3%;
   float: left;
   width: 10%;
}

input[type="radio"], input[type="checkbox"]{
   margin-right: 7px !important;
}

#dish_submit_action{
   margin-left: 3%;
}

