
#dishes_devise{
   float: left;
   width: 100%;
   margin-bottom: 20px;
}

#dishes_devise ul{
   list-style: none;
   padding-left: 0px !important;
}

#dishes_devise ul li{
   margin-right: 10px;
   float: left; 
}


